* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #4b4948;
    background-color: #d1fdff;
}


select, 
#number_input, 
#result {
    color: #3b3837;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 250px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #716e6d; 
    padding: 0 0.3rem;
    background-color: rgb(254, 170, 147);
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    
}

.conversion_type, label {
    font-size: 18px;
}

#scale-img {
    height: 75vh;
    position: relative;
}

#conversion_type {
    text-align: left;
    margin: 3rem 3rem 0 3rem;
    position: absolute;

}

h1 {
    margin: 1.5rem;
    font-size: 34px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

#h2-2 {
    text-align: left;
    margin-left: 3rem;
    position: absolute;
    top: 55vh;
}

#h2-3 {
    text-align: left;
    margin-left: 3rem;
    position: absolute;
    top: 65.7vh;
}

.unit1 {
    position: absolute;
    top: 53vh;
    left: 28.5vw;
    background-color:  rgb(255, 214, 203) ;
}

.unit2 {
    position: absolute;
    top: 53vh;
    right: 28.5vw;
    background-color:  rgb(255, 214, 203) ;
}

#number_input {
    position: absolute;
    top: 63.7vh;
    left: 28.5vw;
    font-weight: 500;
}

#result {
    position: absolute;
    top: 63.7vh;
    right: 28.5vw;
    padding-top: 0.9rem;
    font-weight: 500;
}

.into {
    position: absolute;
    top: 57.5vh;
    left: 48.7vw;
    font-size: 18px;
    font-weight: 500;
    
    
}

#convert {
    position: absolute;
    top: 82.8vh;
    left: 40.8vw;
}

#reset {
    position: absolute;
    top: 92vh;
    left: 40.8vw;
}

.btn {
    color: #3b3837;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 266px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid #716e6d; 
    padding: 0 0.3rem;
    background-color: rgb(251, 125, 118);
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(52, 229, 229);
}