* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #4b4948;
    background-color: #d1fdff;
}


select, 
#number_input, 
#result {
    color: #3b3837;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 250px;
    height: 55px;
    border-radius: 5px;
    border: 2px solid #716e6d; 
    padding: 0 0.3rem;
    background-color: rgb(254, 161, 147);
    text-align: center;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);*/
    font-weight: 500;
    
}

.conversion_type, label {
    font-size: 18px;
}

#scale-img {
    height: 80vh;
    position: relative;
    left: 300px;
    bottom: 40px;

}

#conversion_type {
    text-align: left;
    margin-top: 5rem;
    margin-left: 7rem;
    position: absolute;

}

h1 {
    
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    margin-left: 7rem;
    margin-top: 4rem;
}

h2 {
    font-size: 20px;
    font-weight: 600;
   
}

#h2-2 {
    text-align: left;
    margin-left: 7rem;
    position: absolute;
    top: 370px;
}

#h2-3 {
    text-align: left;
    margin-left: 7rem;
    position: absolute;
    top: 448px;
}

.unit1 {
    position: absolute;
    top: 360px;
    right: 500px;
    background-color:  rgb(255, 214, 203) ;
}

.unit2 {
    position: absolute;
    top: 360px;
    right: 95px;
    background-color:  rgb(255, 214, 203) ;
}

#number_input {
    position: absolute;
    top: 438px;
    right: 500px;
    font-weight: 500;
}

#result {
    position: absolute;
    top: 438px;
    right: 95px;
    padding-top: 0.9rem;
    font-weight: 500;
}

.into {
    position: absolute;
    top: 390px;
    right: 392px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    
    
}

#convert {
    position: absolute;
    top: 585px;
    right: 285px;
}

#reset {
    position: absolute;
    top: 585px;
    left: 7rem;
    
}

.btn {
    color: #3b3837;
    font-family: "Hepta Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 270px;
    height: 45px;
    border-radius: 40px;
    border: 2px solid #716e6d; 
    padding: 0 0.3rem;
    background-color: rgb(251, 125, 118);
    text-align: center;
    text-transform: uppercase;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(138, 255, 255);
}